* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik-Regular', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    right: 0px;
    background-color: rgb(1, 119, 197);
    display: flex;
    transition: width 0.5s ease;
    z-index: 3;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 96, 160));
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

header.active::after {
    opacity: 1;
}

#nav-button {
    width: 40px;
    height: 40px;
    position: fixed;
    background-color: rgb(3, 128, 212);
    top: 5px;
    left: 0%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    transition: background-color 0.3s ease, left 0.5s ease;
    z-index: 4;
}

#nav-button:hover {
    background-color: rgb(0, 78, 129);
}

.navbar {
    position: relative;
    width: 25px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin-left: 8px;
    transition: margin-left 0.5s ease;
}

#navbar-1 {
    transform-origin: left center;
    transform: rotate('0deg');
    top: 0px;
    left: 0px;
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
}

#navbar-2 {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#navbar-3 {
    transform-origin: left center;
    transform: rotate('0deg');
    bottom: 0px;
    left: 0px;
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
}

.sidebar {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 0%;
    background-color: rgb(0, 96, 160);
    z-index: 4;
    transition: width 0.5s ease;
    justify-content: center;
    box-shadow: 0px 0px 10px black ;
    flex-direction: column;
}

#logo-bkonline-sidebar {
    position: relative;
    top: 10px;
    background-image: url('Data/Gambar/BKOnline_ba-style@nulla.top_w.png');
    width: 75%;
    height: 15%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: top 0.5s ease;
    margin: 12.5%
}

#menu-nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
}

.pair {
    display: flex;
    align-items: center;
    gap: 0px;
    height: 15%;
    width: 100%;
    margin-top: -2px;
    margin-right: 0px;
}

.pilihan {
    position: relative;
    display: flex;
    width: 90%;
    height: 100%;
    background-color: rgb(28, 116, 175);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    box-shadow: 0px 0px 5px black;
    align-items: center;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.pilihan:hover:not(#pil-1) {
    background-color: rgb(55, 136, 190);
}

#pil-1 {
    background-color: rgb(0, 67, 112);
}

.hiasan-sidebar {
    width: 15%;
    height: 170%;
    background-color: rgb(0, 67, 112);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotateY(45deg) rotateX(-45deg) rotateZ(-35deg);
    margin-left: -3px;
    margin-right: -4px;
    margin-top: -6%; /*-15px*/
    box-shadow: 0px 0px 5px black;
}

.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
}

.teks-nav {
    position: relative;
    left: -100%;
    color: white;
    opacity: 0;
    transition: left 0.5s ease, opacity 0.2s ease;
}

#gambar-logo-bkonline {
    background-image: url('Data/Gambar/BKOnline_ba-style@nulla.top_w.png');
    position: relative;
    top: 0px;
    left: 10px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left;
    width: 200px;
    height: 100%;
    z-index: 1;
    transition: top 0.5s ease;
}

#nama-user {
    position: absolute;
    right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-size: large;
    flex-direction: row-reverse;
    gap: 5px;
}

#nama-dan-dropdown {
    position: relative;
    width: 100%;
    height: 100%
}

#teks-nama-user {
    position: relative;
    right: -45px;
}

#tombol-dropdown {
    position: relative;
    display: flex;
    padding: 1%;
    padding-left: 3%;
    background-color: rgb(1, 119, 197);
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    margin-right: 0.5%;
    z-index: 1;
}

#tombol-dropdown:hover {
    background-color: rgb(50, 139, 199);
}

#logo-chevron {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 5%;
    opacity: 1;
    transform: translate();
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#tombol-logout {
    position: relative;
    display: flex;
    z-index: -2;
    color: black;
    background-color: white;
    border: 2px solid rgba(100, 100, 100, 0.7);
    border-top: 0px solid transparent;
    transition: top 0.5s ease;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1%;
    padding-right: 5%;
    top: -100%;
    transition: top 0.3s ease;
}

#logo-tn {
    height: 90%;
    margin-left: 10px;
}

.contents {
    position: relative;
    width: 100%;
    height: 100vh;
    display: inline-block;
    z-index: 1;
}

.contents::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.contents.active::before {
    opacity: 1;
    pointer-events: visible;
}

.contents::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
    pointer-events: none;
}

.contents.active::after {
    opacity: 1;
}

.content-1 {
    width: 100%;
    height: 100%;
}

.content-2 {
    width: 100%;
    height: 100%
}

footer {
    position: relative;
    display: flex;
    background-color: rgb(0, 49, 82);
    width: 96%;
    height: 30vh;
    margin-left: 4%;
    color: white;
    align-items: center;
    padding: 5%
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('Data/Data/Rubik-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Semibold';
    src: url('Data/Data/Rubik-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}